@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

body {
    padding: 0px;
    margin: 0;
}
.header {
    background-color: #004175;
    padding: 0px 20px;
    margin: 0;
    font-family: Oswald;
    font-size: large;
    color: white;
    display: flex;
    display: row; 
    justify-content: space-between;
    align-items: center; 
    /* need border color #89DEEF */ 
}
.nav-box {
    padding: 5px;
    margin: 0px;
    display: flex; 
}
.nav-box a:link {
    padding: 5px;
    margin: 0px;
    display: flex; 
    color: white;
    text-decoration: none;  
    font-family: 'open sans'; 
    font-size: small;
    /* display flex put links in a row */ 
}

.nav-box a:visited {
    padding: 5px;
    margin: 0px;
    display: flex; 
    color: white;
    text-decoration: none; 
    font-family: 'open sans'; 
    font-size: small;

    /* display flex put links in a row */ 
}
    /* add separate nav-links class allowed 
    padding to separate links (individual link 
    placed in class) */ 
.dog-hero-box {
    width: 100%;
    margin-bottom: 25px;
    background-color: pink;
}

/* using height for box made text scroll up/down - not good */ 

.dog-hero-img img {
    width: 100%;
    aspect-ratio: 2.5 / 1;
}
.homepage-intro-box {
    margin: 0 auto; 
    width: 75%;
    text-align: justify;  
}
.homepage-intro-text {
    font-family: 'open sans';
    font-size: smaller;
    
}
.adopt-head-intro-box {
    padding: 0px 30px;
    display: flex; 
    flex-direction: column; 
    width: 50%; 
}
.adopt-heading-text {
    font-family: 'open sans';
    font-size: medium;
}
.adopt-intro-text {
    font-family: 'open sans';
    font-size: x-small;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0; 
    padding: 0px 25px; 
}

.dog-card { 
    padding: 10px;
    margin: 3px; 
    border: 1px solid;
    border-color: #ebe8e5;
    width: 250px; 
    border-radius: 2%;
    display: flex;
    flex-direction: column; 
    background-color: green;   
}
.name {
    font-family: Oswald;
    font-size: small;
    padding: 0px;
    margin: 1px 5px 10px 0px; 
    display: flex; 
}

.bubbles-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.traits { 
    font-family: 'open sans';
    font-size: xx-small;
    background-color: #89DEEF;
    padding: 5px; 
    margin: 3px 3px 3px 0px; 
    border-radius: 1em; 
    place-content: center; 
}
.contact-headings {
    font-family: 'open sans';
    font-size: large; 
    margin: 25px 25px 5px 35px; 
}
.contact-info {
    font-family: 'open sans'; 
    font-style: italic;
    font-size: x-small; 
    margin: 5px 25px 3px 35px;
}
.hours-list {
    font-family: 'open sans'; 
    font-size: x-small;
    margin: 5px 15px 50px 15px;
}
.foot-format-box {
    display: flex; 
    width: 100%;
    margin-top: 50px;
}

.link-img-box {
    position: relative; 
    width: 100%;
    max-height: 300px; 
    background-color: #0037ff68; 
}

.link-img-box img {
    width: 100%; 
    height: 300px; 
    opacity: 0.5;
    
}
.text {
    text-align: center;
    position: relative;
    bottom: 200px; 
    left: 0px; 
    font-family: Oswald; 
    font-size: x-large;   
    color: white; 
}
.foot-format-box img:hover {
    opacity: 0.9; 
}