@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

body {
    padding: 0px;
    margin: 0;
}

.header {
    background-color: #004175;
    padding: 20px;
    margin: 0;
    font-family: Oswald;
    font-size: medium;
    color: white;
    display: flex; /*allows children (nav and h1 element to be flexible*/ 
    display: row; /*put nav and h1 in a row*/ 
    justify-content: space-between;
    align-items: center; 

}

.nav {
    font-family: 'open sans';
    font-size: small;
    padding: 5px;
    margin: 0px;
}

.homepage-intro {
    font-family: 'open sans';
    font-size: x-small;
    margin: 25px 75px 5px 75px;
    align-items: center; 
}

.adopt-head-intro-box {
    padding: 25px;
    display: flex; 
    flex-direction: column; 
    width: 50%; 
    background-color: yellow; 
}

.adopt-heading {
    font-family: 'open sans';
    font-size: medium;
    /* margin: 15px 25px;  */
    background-color: red; 
}

.adopt-intro {
    font-family: 'open sans';
    font-size: x-small;
    /* margin: 10px 25px 5px 25px;  */
    background-color: turquoise; 
}

/* .main {
    display: flex;     
} */

.card-container {
    display: flex;
    flex-direction: row; /*yes row*/
    flex-wrap: wrap;
    margin: 0; 
    padding: 0px 25px; 
    /* gap: 2px 2px;   */
    background-color: pink; 
}

.dog-card { 
    padding: 10px;
    margin: 3px; 
    border: 1px solid;
    border-color: #ebe8e5;
    width: 250px; /*this set the width of the 
    card and the pics followed along for some reason
     - because it's a content box?*/
    background-color: green; 
    border-radius: 2%;
    display: flex;
    flex-direction: column; /*column yes*/
    
}
.name {
    font-family: Oswald;
    font-size: small;
    padding: 0px;
    margin: 1px 5px 10px 0px; 
    display: flex; 
    /* background-color: purple;  */
}

.bubbles-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* background-color: orange;  */
}

.traits {  /*changing btw span/div doesn't do anyting*/
    font-family: 'open sans';
    font-size: xx-small;
    background-color: #89DEEF;
    padding: 5px; 
    margin: 3px 3px 3px 0px; /*auto margin fixed the pills stretching across
    but centered everything, using a number justified everthing
    to the left and spaced evenly*/
    width: fit-content; 
    /* border:#89DEEF solid 1px;   */
    border-radius: 1em; /*why did em work better than - % creates oval
    and em creates pill shape? %*/
    place-content: center; 
    /* justify-content: flex-start; 
    align-content: center; */
    /* grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr)); */
    /* display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-start; */
    /* flex-basis: auto;  */
}
.contact-headings {
    font-family: 'open sans';
    font-size: large; 
    margin: 25px 25px 5px 25px; 
}
.contact-info {
    font-family: 'open sans'; 
    font-style: italic;
    font-size: x-small; 
    margin: 5px 25px 3px 25px;
}
.hours-list {
    font-family: 'open sans'; 
    font-size: x-small;
    margin: 5px 15px 50px 15px;
}
.foot-format {
    margin: 50px 0px 0px 0px;
}

.foot-img {
    /* padding: 0; 
    margin: 0;  */
    background:
    linear-gradient(
        rgba(255, 0, 0, 0, 0.45),
        rgba(255, 0, 0, 0, 0.45)
    ),
    url(images/donate.jpg); 
}
