@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

body {
    padding: 0px;
    margin: 0;
}

/* do I need this body info? */

.header {
    background-color: #004175;
    padding: 0px 20px;
    margin: 0;
    font-family: Oswald;
    font-size: medium;
    color: white;
    display: flex;
    display: row; 
    justify-content: space-between;
    align-items: center; 
    /* need border color #89DEEF */ 
}
.nav {
    font-family: 'open sans';
    font-size: small;
    padding: 5px;
    margin: 0px;
}
.dog-hero-box {
    display: flex; 
    margin: 0px 0px 25px 0px; 
    /* background-color: pink; */
}
.homepage-intro-box {
    margin: 0 auto; 
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* background-color: purple; */

    /* don't need font info because that's controlled in
    homepage-intro-text */
}
.homepage-intro-text {
    font-family: 'open sans';
    font-size: small;

    /* don't need margin etc. because homepage-intro-box
    is controlling that */
}
.adopt-head-intro-box {
    padding: 0px 30px;
    display: flex; 
    flex-direction: column; 
    width: 50%; 
    /* background-color: yellow;  */

    /* don't need font info because adopt-heading-text 
    and adopt intro text are controlling that */ 
}
.adopt-heading-text {
    font-family: 'open sans';
    font-size: medium;
    /* background-color: red;  */

    /* didn't need margin etc. because head-intro-box 
    is controlling position */
}
.adopt-intro-text {
    font-family: 'open sans';
    font-size: x-small;
    /* background-color: turquoise;  */

    /* didn't need margin etc. because head-intro-box 
    is controlling position */
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0; 
    padding: 0px 25px; 
    /* background-color: pink;  */
}

.dog-card { 
    padding: 10px;
    margin: 3px; 
    border: 1px solid;
    border-color: #ebe8e5;
    width: 250px; 
    border-radius: 2%;
    display: flex;
    flex-direction: column; 
    /* background-color: green;  */

    /* width=250px set the width of the 
    card and the pics followed along because it's a content box? */
    
}
.name {
    font-family: Oswald;
    font-size: small;
    padding: 0px;
    margin: 1px 5px 10px 0px; 
    display: flex; 
    /* background-color: purple;  */
}

.bubbles-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* background-color: orange;  */
}

.traits { 
    font-family: 'open sans';
    font-size: xx-small;
    background-color: #89DEEF;
    padding: 5px; 
    margin: 3px 3px 3px 0px; 
    width: fit-content; 
    border-radius: 1em; 
    place-content: center; 

    /* auto margin fixed the pills stretching across
    but centered everything, using numbers for margin justified everthing
    to the left and spaced evenly */

     /* % creates oval
    and em creates pill shape? */
}
.contact-headings {
    font-family: 'open sans';
    font-size: large; 
    margin: 25px 25px 5px 35px; 
}
.contact-info {
    font-family: 'open sans'; 
    font-style: italic;
    font-size: x-small; 
    margin: 5px 25px 3px 35px;
}
.hours-list {
    font-family: 'open sans'; 
    font-size: x-small;
    margin: 5px 15px 50px 15px;
}
.foot-format-box {
    margin: 50px 0px 0px 0px;
}

.foot-img-box {

}

.foot-img {
   
}

.foot-link-box {
    
}
